html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

a {
    color: #2e72a1;
}

#logo, .project-img {
    max-height: 50px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: linear-gradient(#E7DCD0,#EEE4D9, #C4B4A0, #A99072, #1E1407); /* Light blue */
    /* color: #555555; */
}

.bg-2 {
    background-image: linear-gradient(#C0B19F, #C0B19F); /* Purple */
    /* color: #ffffff; */
}

.card {
    color: black;
    text-align: left;
    margin: 15px;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-image: linear-gradient(#F5EEF8,#D6EAF8) ; /* Light purple */
    color: #17202A;
}

.bg-4 {
    background-color: #D6EAF8; /* Dark Gray */
    /* color: #fff; */
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}

.blue {
    text-decoration: underline;
}

.purple {
    color:black;
}
.rainbow {
    border: solid ;
  border-radius: 145px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

  .ice{
    color: #000000 !important;
  }
  .ice2{
    color: #EEE4D9;
  }

  .bg-lightbrown{
    background-color: #EEE4D9 !important;
  }
  